# Dependencies
node_modules/

# Next.js
.next/
out/

# Expo (legacy)
.expo/
dist/
web-build/

# Native (legacy)
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro (legacy)
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Macros
*.hprof

# Local env files (IMPORTANT: ne JAMAIS commiter)
.env*.local
.env

# Typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
